<div class="col pt-5 pt-md-4 calendar-day{{#if date.isToday}} border-primary calendar-day-today{{/if}}{{#if date.isTomorrow}} calendar-day-tomorrow{{/if}}{{#if date.isFuture}} calendar-day-future{{/if}}">
      <span class="date">{{date.shortString}}</span>
      <a data-toggle="tooltip" data-placement="bottom" title="{{element.name}}">
        <img src="{{element.imgUrl}}" alt="{{element.name}}" class="rounded-circle" style="border-color: {{element.color}}; border-style:solid;border-width: 5px;"/>
      </a>
    </div>